In [1]:
import pandas as pd
import csv

In [2]:
csvFile = 'JC-201905-citibike-tripdata.csv'
May19_df = pd.read_csv(csvFile, encoding="ISO-8859-1")

In [3]:
May19_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,311,2019-05-01 00:07:36.4670,2019-05-01 00:12:47.6350,3185,City Hall,40.717733,-74.043845,3279,Dixon Mills,40.721630,-74.049968,29224,Subscriber,1988,1
1,538,2019-05-01 00:08:29.2840,2019-05-01 00:17:27.9410,3681,Grand St,40.715178,-74.037683,3203,Hamilton Park,40.727596,-74.044247,26170,Subscriber,1974,1
2,178,2019-05-01 00:39:36.4750,2019-05-01 00:42:34.9640,3638,Washington St,40.724294,-74.035483,3639,Harborside,40.719252,-74.034234,29517,Subscriber,1988,1
3,317,2019-05-01 01:24:28.0220,2019-05-01 01:29:45.5730,3206,Hilltop,40.731169,-74.057574,3212,Christ Hospital,40.734786,-74.050444,29606,Subscriber,1986,2
4,354,2019-05-01 01:54:39.6660,2019-05-01 02:00:34.1750,3639,Harborside,40.719252,-74.034234,3202,Newport PATH,40.727224,-74.033759,26224,Customer,1986,2

In [5]:
csvFile = 'JC-201906-citibike-tripdata.csv'
June19_df = pd.read_csv(csvFile, encoding="ISO-8859-1")

In [6]:
csvFile = 'JC-201907-citibike-tripdata.csv'
July19_df = pd.read_csv(csvFile, encoding="ISO-8859-1")

In [7]:
csvFile = 'JC-201908-citibike-tripdata.csv'
Aug19_df = pd.read_csv(csvFile, encoding="ISO-8859-1")

In [8]:
csvFile = 'JC-201909-citibike-tripdata.csv'
Sept19_df = pd.read_csv(csvFile, encoding="ISO-8859-1")

In [9]:
csvFile = 'JC-201910-citibike-tripdata.csv'
Oct19_df = pd.read_csv(csvFile, encoding="ISO-8859-1")

In [10]:
csvFile = 'JC-201911-citibike-tripdata.csv'
Nov19_df = pd.read_csv(csvFile, encoding="ISO-8859-1")

In [11]:
csvFile = 'JC-201912-citibike-tripdata.csv'
Dec19_df = pd.read_csv(csvFile, encoding="ISO-8859-1")

In [12]:
csvFile = 'JC-202001-citibike-tripdata.csv'
Jan20_df = pd.read_csv(csvFile, encoding="ISO-8859-1")

In [13]:
csvFile = 'JC-202002-citibike-tripdata.csv'
Feb20_df = pd.read_csv(csvFile, encoding="ISO-8859-1")

In [14]:
csvFile = 'JC-202003-citibike-tripdata.csv'
Mar20_df = pd.read_csv(csvFile, encoding="ISO-8859-1")

In [15]:
csvFile = 'JC-202004-citibike-tripdata.csv'
Apr20_df = pd.read_csv(csvFile, encoding="ISO-8859-1")

In [16]:
csvFile = 'JC-202005-citibike-tripdata.csv'
May20_df = pd.read_csv(csvFile, encoding="ISO-8859-1")

In [17]:
# merge all monthly files
merged_df = pd.concat([May19_df, June19_df, July19_df, Aug19_df, Sept19_df, Oct19_df, Nov19_df, Dec19_df, Jan20_df, Feb20_df,Mar20_df,Apr20_df, May20_df])

In [18]:
# Check data
merged_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,311,2019-05-01 00:07:36.4670,2019-05-01 00:12:47.6350,3185,City Hall,40.717733,-74.043845,3279,Dixon Mills,40.721630,-74.049968,29224,Subscriber,1988,1
1,538,2019-05-01 00:08:29.2840,2019-05-01 00:17:27.9410,3681,Grand St,40.715178,-74.037683,3203,Hamilton Park,40.727596,-74.044247,26170,Subscriber,1974,1
2,178,2019-05-01 00:39:36.4750,2019-05-01 00:42:34.9640,3638,Washington St,40.724294,-74.035483,3639,Harborside,40.719252,-74.034234,29517,Subscriber,1988,1
3,317,2019-05-01 01:24:28.0220,2019-05-01 01:29:45.5730,3206,Hilltop,40.731169,-74.057574,3212,Christ Hospital,40.734786,-74.050444,29606,Subscriber,1986,2
4,354,2019-05-01 01:54:39.6660,2019-05-01 02:00:34.1750,3639,Harborside,40.719252,-74.034234,3202,Newport PATH,40.727224,-74.033759,26224,Customer,1986,2

In [20]:
# Save data in a CSV file
merged_df.to_csv("combined-tripdata.csv", index=False, header=True)

In [24]:
# Find any invalid birth year data which needs to be filtered out of the visualications where Age is used

merged_df['birth year'].unique()

array([1988, 1974, 1986, 1979, 1987, 1967, 1984, 1964, 1973, 1990, 1985,
       1976, 1994, 1983, 1962, 1989, 1982, 1992, 1981, 1993, 1980, 1977,
       1970, 1968, 1969, 1956, 1995, 1978, 1996, 1975, 1963, 1960, 1966,
       1955, 1972, 1957, 1958, 1971, 1991, 1998, 1965, 1951, 1961, 1949,
       1954, 1959, 1953, 1952, 2000, 1888, 1997, 1941, 1889, 1900, 1947,
       1999, 1944, 1950, 2001, 2002, 1946, 2003, 1940, 1904, 1918, 1948,
       1887, 1905, 1901, 1945, 1938, 1939, 2004, 1920], dtype=int64)